* {
  margin: 0px;
  padding: 0px;
}
.container {
  padding: 17px;
  background-color: red;
  display: flex;
  flex-direction: row-reverse;
}
.container ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.container ul li {
  list-style: none;
  margin-right: 29px;
}
.logo {
  display: flex;
  color: red;
  background-color: white;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 47px;
  margin-top: -54px;
  margin-left: 136px;
}
#item-right {
  border: 2px solid white;
  margin-left: 10px;
  padding: 6px 10px;
  border-radius: 16px;
}
#item-right:hover {
  color: rgb(255, 0, 0);
  background-color: white;
}
.h-primary {
  /* display: inline-block; */
  margin-left: 117px;
  margin-top: 108px;
}
.title {
  display: flex;
  margin-top: 26px;
  margin-left: 121px;
  color: #192f60;
  font-size: 33px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}
.left-item {
  display: flex;
  border: 2px solid black;
  height: 520px;
  width: 228px;
  margin-top: -84px;
  margin-left: 5px;
  flex-direction: column;
}
.content {
  margin-left: 10%;
}
#sub {
  font-weight: bold;
  font-size: 19px;
  margin-top: 10px;
  color: #192f60;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
}
#sub-2 {
  margin: 12px;
  font-size: 16px;
  margin-left: 0px;
  color: #192f60;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
}
#chek-box {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}
.searches {
  padding: 8px 7px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 5px 10px #00000029;
  opacity: 1;
  margin-top: -7px;
  font-family: 'Montserrat', sans-serif;
}
/* another item */

.h-secondery {
  margin-left: 28%;
  margin-top: -552px;
}

#right {
  margin: 30px;
  display: grid;
  width: 80%;
  grid-template-columns: 155px 155px 155px;
  grid-template-rows: 80px 80px 75px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 6px 6px 7px #00000029;
  opacity: 1;
}
.sub-content {
  /* font-weight: bold; */
  color: #192f60;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
}
.sub-content h2 {
  width: 180%;
  font-size: 23px;
  font-weight: bold;
  margin: 34px 11px;
  font-family: 'Montserrat', sans-serif;
}
.sub-des {
  margin: 68px -140px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.sub-con {
  margin: 11px 171px;
  width: 260%;
  font-size: 89%;
  color: #636f88;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
}
.underline {
  margin: 47px -129px;
  color: #9ba6bb;
}
.sub-descri {
  color: #636f88;
  opacity: 1;
  margin: 87px -277px;
  font-family: 'Montserrat', sans-serif;
}
.sub-rate {
  margin: 6px 180px;
  color: #192f60;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
}
.img-content {
  width: 112px;
  height: 106px;
  border-radius: 10px;
  margin: 13px 25px;
}
.page-number {
  display: flex;
  margin-top: 25px;
  margin-left: 204px;
}
.numbers {
  font-size: 18px;
  margin: -10px 13px;
  padding: 5px;
  border-radius: 8px;
  border: 2px solid #8c96ab;
  color: #8c96ab;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
}
.page-number:hover {
  color: black;
  background-color: white;
}
.page-number p:hover {
  color: rgb(255, 1, 1);
  background-color: rgb(195, 218, 221);
}
